<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesertRun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E1EBB4E1CE88D6500B9FC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1EBB661CE88D6500B9FC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1EBB711CE88D6500B9FC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
